html,
body,
ul,
ol {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.spectrum {
  width: 100%;
  height: 15vh;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#96c0e0+0,0b5da0+20,f7ef00+60,e52810+100 */
  background: #96c0e0;
  /* Old browsers */
  background: -webkit-gradient(linear, left top, right top, from(#96c0e0), color-stop(20%, #0b5da0), color-stop(60%, #f7ef00), to(#e52810));
  background: -webkit-linear-gradient(left, #96c0e0 0%, #0b5da0 20%, #f7ef00 60%, #e52810 100%);
  background: linear-gradient(to right, #96c0e0 0%, #0b5da0 20%, #f7ef00 60%, #e52810 100%); }

.stripes {
  position: absolute;
  width: 100%;
  height: 15vh;
  top: 0;
  background: -webkit-repeating-linear-gradient(left, #fff, #fff 2.5vw, transparent 2.5vw, transparent 5vw);
  background: repeating-linear-gradient(90deg, #fff, #fff 2.5vw, transparent 2.5vw, transparent 5vw); }

.divider {
  height: 10px;
  width: 100%;
  border-bottom: 10px solid #142393; }

h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 96px;
  color: #142393;
  text-transform: uppercase;
  text-align: center;
  line-height: 0.9;
  letter-spacing: -6px;
  padding-top: 0.1em; }
