// Reset Browser Styles
@import 'reset';
@import 'fonts';

$stripeHeight: 15vh;
$primary_col: #142393;
$secondary_col: rgb(229,40,16);

$commodore_font: 'MicrogrammaD-BoldExte', sans-serif;

html {
	height: 100%;
	// box-model: border-box;
}

body {
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

.content {
	flex: 1
}

.spectrum {
	width: 100%;
	height: $stripeHeight;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#96c0e0+0,0b5da0+20,f7ef00+60,e52810+100 */
	background: rgb(150,192,224); /* Old browsers */
	background: linear-gradient(to right, rgba(150,192,224,1) 0%,rgba(11,93,160,1) 20%,
		rgba(247,239,0,1) 60%,rgba(229,40,16,1) 100%);
}

.stripes {
	position: absolute;
	width: 100%;
	height: $stripeHeight;
	top: 0;
	background: repeating-linear-gradient(90deg, #fff, #fff
	 2.5vw, rgba(0,0,0,0.0) 2.5vw, rgba(0,0,0,0.0) 5vw);

}

.divider {
	height: 10px;
	width: 100%;
	border-bottom: 10px solid $primary_col;
}

h1 {
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	font-size: 96px;
	color: $primary_col;
	text-transform: uppercase;
	text-align: center;
	line-height: 0.9;
	letter-spacing: -6px;
	padding-top: 0.1em;
}

em {
	color: $secondary_col;
	font-style: normal;
}

footer#footer {
	flex-direction: row;
	margin-bottom: 30px;
	width: 100%;
	height: 0.6em;
	background-color: $secondary_col;
	font-family: $commodore_font;
	font-size: 1.2em;
	line-height: 0.9;
	color: $primary_col;
}

#footer::after {
	content: " ";
	background-color: $primary_col;
	width: 100%;
	height: 1.2em;
	position: absolute;
	left: 0;
	z-index: -1;
}

#tagline {
	background-color: #fff;
	margin-left: 4em;
	padding-left: 0.8em;
	padding-right: 0.8em;
	padding-top: 0.2em;
	
	a {
			text-decoration: none;
			color: $primary_col;
			font-size: 1.2em;
			align-self: center;
		}

	a:hover {
		border-bottom: 2px dotted $secondary_col;
	}
  // @supports (transition-delay: 0.2s) {
		// 		a {
		// 		  	border-bottom: 0;
		// 		  	transition: font-size ease 0.2s;
		// 		  }
		// 		 a:hover {
		// 		 	border-bottom: 0;
		// 		 	font-size: 1.4em;
		// 		 }
		// 	}
}